{{#section 'css'}}
<link rel="stylesheet" href="/owlcarousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="/owlcarousel/assets/owl.theme.default.min.css">
{{/section}}

{{#section 'js'}}
<script src="/owlcarousel/owl.carousel.min.js"></script>
<script>
  jQuery(document).ready(function(){
    $('.owl-carousel').owlCarousel({
      loop:true,
      nav: true,
      margin: 10,
      responsiveClass: true,
      responsive:{
        0:{
            items: 1,
            nav: false,
        },
        600:{
            items: 3,
        },
        1000:{
            items: 5,
        }
      }
    })
  });
</script>
{{/section}}

<div class="headline udlite-container">
  <div class="headline__main-text udlite-heading-xl">
    A product from Group 4
  </div>
  <div class="headline__sub-text row row-cols-3">
    <div class="col px-auto py-auto">1753063 Cao Duy Khiem</div>
    <div class="col px-auto py-auto">18127103 Cao Gia Hung</div>
    <div class="col px-auto py-auto">18127126 Huynh Duc Le</div>
  </div>
</div>
<div class="udlite-container">

  {{!-- Khoá học được xem nhiều nhất --}}
  <div class="component-margin">
    <div class="unit-title--container--EH-Rf">
      <h2 class="udlite-heading-xl unit-title--title--2TQwd">
        Most viewed courses
      </h2>
    </div>
    <div class="carousel--container--22Ab7 owl-carousel owl-theme">
      {{#each mostViewedCourses}}
      <div class="carousel--scroll-item--3Wciz">
        <div class="popper--popper--19faV">
          <a class="course-card" href="/product/detail">
            <div class="course-card--container--3w8Zm course-card--medium--iRtVR">
              <div class="course-card--image-wrapper--Sxd90">
                <img
                  alt=""
                  width="240"
                  height="135"
                  class="course-card--course-image--2sjYP browse-course-card--image--35hYN"
                  src={{trimImagePath imagePath}}
                >
              </div>
              <div class="course-card--main-content--3xEIw course-card--has-price-text--1Ikr0">
                <div class="udlite-heading-md course-card--course-title--2f7tE">
                  2021 Complete Python Bootcamp From Zero to Hero in Python
                </div>
                <div class="udlite-text-xs course-card--instructor-list--lIA4f" data-purpose="safely-set-inner-html:course-card:visible-instructors">
                  Jose Portilla
                </div>
                <div class="course-card--row--1OMjg">
                  <span class="star-rating--star-wrapper--2eczq">
                    <span
                      class="udlite-heading-sm star-rating--rating-number--3lVe8"
                      aria-hidden="true"
                      data-purpose="rating-number"
                    >
                      4.6
                    </span>
                  </span>
                  <span  class="udlite-text-xs course-card--reviews-text--12UpL">
                    (341,058)
                  </span>
                </div>
                <div
                  class="price-text--container--Ws-fP course-card--price-text-container--2sb8G"
                  data-purpose="price-text-container"
                >
                  <div
                    class="price-text--price-part--Tu6MH course-card--discount-price--3TaBk udlite-heading-md"
                    data-purpose="course-price-text"
                  >
                    $11.99
                  </div>
                </div>
                <div class="udlite-badge udlite-heading-xs udlite-badge-bestseller">
                  Bestseller
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

</div>
