{{#section 'css'}}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
{{/section}}

{{#section 'js'}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    function DisplayError(string){
        swal("Error!", string, "error");
    }

    function CheckValidInputLecturer(){
        const id = jQuery('#id').val();
        if (id === ""){
            DisplayError("ID can not be blanked!");
            return false;
        }

        const user = jQuery("#name").val();
        if (user === ""){
            DisplayError("Username can not be blanked!");
            return false;
        }

        const pass = jQuery("#password").val();
        if (pass === ""){
            DisplayError("Password can not be blanked!");
            return false;
        }

        const confirmPass = jQuery("#password2").val();
        if (confirmPass !== pass & pass !== "{{authUser.password}}"){
            DisplayError("Password mis-matched!");
            return false;
        }

        const phone = jQuery("#phone").val();
        if (phone === ""){
            DisplayError("phone number can not be blanked!");
            return false;
        }

        const mail = jQuery("#email").val();
        if (mail === ""){
            DisplayError("Email can not be blanked!");
            return false;
        }

        const gender = jQuery("#gender").val();
        if (gender === ""){
            DisplayError("Gender can not be blanked!");
            return false;
        }

        const university = jQuery("#university").val();
        if (university === ""){
            DisplayError("University can not be blanked!");
            return false;
        }

        return {
            username: id,
            password: pass,
            phone: phone,
            name: user,
            gender: gender,
            university: university,
            email: mail
        };
    }

    function create(){
        var newData = CheckValidInputLecturer();

        const url = `/admin/add/profile`;

        console.log(url);

        if (newData !== false){
        $.post(url, newData, function(data,status){
            console.log(data);
            if(data === true){
            swal("Success!", "Create successful!", "success").then((value)=>{
                if (value === true){
                location.reload();
                }
            });
            }
            else{
            DisplayError(data);
            }
        });
        }   
    }
</script>

{{/section}}

<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>User ID: {{authUser.id}}</h1></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
      </div></hr><br>
        </div><!--/col-3-->
    	<div class="col-sm-9">
          <a href="#currenPage">Profile</a>
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                    <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="ID"><h4>ID</h4></label>
                              <input type="text" class="form-control" name="id" id="id" placeholder="Enter ID" title="enter id.">
                          </div>
                      </div>

                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="full_name"><h4>Full name</h4></label>
                              <input type="text" class="form-control" name="name" id="name" placeholder="Enter full name" title="enter your first name if any.">
                          </div>
                      </div>
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="phone"><h4>Phone</h4></label>
                              <input type="text" class="form-control" name="phone" id="phone" placeholder="Enter phone number" title="enter your phone number if any.">
                          </div>
                      </div>

                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" title="enter your email.">
                          </div>
                      </div>

                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="gender"><h4>Gender</h4></label>
                              <input type="gender" class="form-control" name="gender" id="gender" placeholder="Enter gender" title="enter your gender.">
                          </div>
                      </div>

                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="university"><h4>University</h4></label>
                              <input type="university" class="form-control" name="university" id="university" placeholder="Enter university" title="enter your university.">
                          </div>
                      </div>

                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="password"><h4>Password</h4></label>
                              <input type="password" class="form-control" name="password" id="password" placeholder="Enter the password" title="Enter the password.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="password2"><h4>Verify</h4></label>
                              <input type="password" class="form-control" name="password2" id="password2" placeholder="Confirm password" title="enter your password2.">
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" onclick="create()"><i class="glyphicon glyphicon-ok-sign"></i>Create</button>
                            </div>
                      </div>

          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
</div>