.header--flex-middle {
  display: flex;
  align-items: center;
}

.header--header {
  height: 7.2rem;
  padding: 0 1.6rem;
  position: relative;
  z-index: 1010;
}

.header--logo {
  flex-shrink: 0;
  padding-right: 1.2rem;
}
